#videoPlayer::-webkit-resizer {
  display: none;
}
#showPhoto::-webkit-resizer {
  display: none;
}

.nextBackIcons {
  color: rgba(218, 208, 208, 0.842);
}
.nextBackIcons:hover {
  color: rgba(104, 94, 94, 0.493);
}

.add {
  font-size: 29px;
  color: rgb(255, 255, 255);
  padding-left: 3px;
  padding-top: 2px;
  transition: color 1s;
}

.add:hover {
  color: rgb(252, 187, 161);
}
.addButtonDiv {
  height: 35px;
  width: 35.5px;
  background-color: rgb(194, 194, 194);
  border: rgb(190, 190, 190) solid 2px;
  border-radius: 4px;
  position: absolute;
  left: 72.5%;
  top: 0.3%;
}

.addButtonDiv:hover {
  background-color: rgb(168, 167, 167);
  border: 2px solid rgb(168, 167, 167);
}

.allTheButtons {
  width: 9.45%;
  background-color: rgb(255, 194, 170);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  transition: 0.7s;
}

.allTheButtons button {
  margin: auto;
  margin-bottom: 10px;
  width: 100px;
  background-color: transparent;
  border: none;
  font-size: 80%;
  color: rgb(117, 117, 117);
}
.allTheButtons button:hover {
  color: white;
}
.allTheButtons button:focus {
  outline: none;
  background-color: transparent;
}
#firstButton {
  margin-top: 10px;
}
#firstButton:focus {
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.cancelButtons {
  margin-left: 2px;
  width: 18px;
  height: 18px;
  background-color: rgb(255, 171, 115);
  border: 1px solid rgb(255, 158, 68);
  border-radius: 30px;
  padding-left: 4.6px;
  color: white;
  font-size: 11px;
}

.cancelButtons:hover {
  color: rgb(255, 171, 115);
  background-color: white;
  border: 1px solid rgb(255, 171, 115);
}

.cancelButtons:focus {
  outline: none;
}

#addPhotoInput::-webkit-file-upload-button {
  width: 55px;
  /* border: rgb(255, 210, 192) 2px solid; */
  border: rgb(255, 183, 155) 2px solid;
  border-radius: 3px;
  padding-left: 2px;
  background-color: transparent;
  color: rgb(117, 117, 117);
}

#addPhotoInput::-webkit-file-upload-button:hover {
  background-color: rgb(255, 194, 170);
  color: white;
}

#addPhotoInput {
  color: rgb(148, 145, 141);
}
.clearButtons {
  background-color: transparent;
  border: none;
}
.clearButtons:focus {
  outline: none;
}

.fa-broom:hover {
  color: rgb(255, 194, 170);
}

.inputStyles {
  border: none;
  border-bottom: 1px solid rgb(255, 182, 153);
  margin-left: 5px;
  color: rgb(148, 145, 141);
  background-color: transparent;
}
.inputStyles:focus {
  outline: none;
}

.inputStyles::placeholder {
  color: rgb(255, 245, 238);
}

.inputDiv {
  background-color: rgb(248, 207, 191);
  border-radius: 3px;
}
