.trustBarasMainDiv {
  width: 80%;
  margin: auto;
}

.videoTrustBarasDiv {
  width: 100%;
  border: 1px solid;
}

.relatesToTrustVideoDiv {
  margin-left: 1%;
}
.relatesToTrustVideoDiv h3 {
  text-decoration: underline;
  margin-top: 1%;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 1%;
  color: rgb(255, 186, 57);
}

.videoTrustVideoDiv {
  border: none;
  padding-left: 1%;
  width: 45%;
  display: inline-block;
}

.textTrustVideoDiv {
  display: inline-block;
  width: 50%;
  height: 400px;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 2%;
}
.videoTrustVideoDiv iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.textTrustVideoDiv p {
  margin-top: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 1%;
  padding-right: 1%;
}

.usernameTrustVideoDiv {
  display: inline-block;
}

.createdAtTrustVideoDiv {
  display: inline-block;
  padding-left: 0.5%;
  margin-top: 1%;
  margin-right: 79%;
}
