.TrustMainDiv {
  display: flex;
  width: 35%;
  justify-content: center;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(253, 235, 218);
  border-radius: 6px;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  padding-left: 0.6%;
  padding-right: 0.6%;
}

.TrustDetails {
  margin-left: 2%;
  margin-right: 2%;
}

.TrustButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12%;
}
.TrustButtons button {
  border: none;
  border-radius: 10px;
  color: rgb(231, 154, 9);
  height: 24%;
}
.TrustButtons button:focus {
  outline-color: orange;
}
.TrustButtons button:hover {
  background-color: orange;
  color: white;
}

#usernameDetail {
  color: #f37227d7;
  text-decoration: underline;
}
#usernameDetail:hover {
  color: rgba(216, 152, 100, 0.877);
  text-decoration: underline;
}
