/*  ONLY PHOTO THOUGHT */

.mainThoughtDiv {
  width: 100%;
  /* height: 40%; */
  border: 1px solid;
}

.thoughtUserImage {
  width: 3%;
  height: 23px;
}

.thoughtUserImage img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 1px solid orange;
}

.thoughtImageDiv {
  width: 10%;
  height: 10%;
}

.thoughtImageDiv img {
  width: 100%;
  height: 100%;
}

.wrapPhotoTextName {
  display: flex;
  flex-wrap: wrap;
}

.modalTextPhotoDiv {
  width: 54%;
  max-height: 357.266px;
  border: 1px solid;
  padding-left: 1.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  overflow-x: hidden;
}

.modalUsernamePhotoDiv {
  margin: auto;
  margin-right: 1.9%;
  font-size: large;
}
