.modalPhotoBarasDiv {
  width: 100%;
  height: 100%;
  margin-left: 1%;
}

.modalRelatesToPhotoDiv {
  margin-top: 0;
  height: 40px;
  margin-bottom: 9px;
}
.modalRelatesToPhotoDiv h3 {
  margin: 0;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(32, 32, 32, 0.61);
}

.modalPhotoPhotoDiv {
  width: 40%;
}

.modalPhotoPhotoDiv img {
  min-height: auto;
  min-width: auto;
  max-width: 100%;
  max-height: 100%;
  height: 375px;
}

.modalTextPhotoDiv {
  padding-right: 1%;
}

.modalTextPhotoDiv {
  border-radius: 3px;
  width: 52%;
  margin-left: 1%;
  max-height: 372px;
  border: 1px solid;
  padding-left: 1.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  overflow-x: hidden;
}

.modalTextPhotoDiv p {
  color: rgb(44, 44, 44);
  font-size: large;
}
.modalUsernamePhotoDiv {
  margin: auto;
  margin-right: 4.1%;
  font-size: large;
}

.closeButtonWorldBarasModal {
  margin-left: 98.4%;
  margin-top: 0.1%;
  background-color: transparent;
  border: none;
  color: rgb(71, 71, 71);
  font-size: medium;
}

.closeButtonWorldBarasModal:hover {
  color: orange;
  border: 1px solid gray;
  border-radius: 4px;
}
