.modalMusicBarasDiv {
  width: 100%;
  height: 100%;
  margin-left: 1%;
}

.modalRelatesToMusicDiv {
  margin-top: 0;
  height: 40px;
  margin-bottom: 9px;
}
.modalRelatesToMusicDiv h3 {
  margin: 0;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(32, 32, 32, 0.61);
}

.modalMusicMusicDiv {
  display: inline-block;
  width: 40%;
}

.modalMusicMusicDiv iframe {
  min-height: auto;
  min-width: auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  border: none;
  margin-bottom: 224px;
}

.modalTextMusicDiv {
  display: inline-block;

  padding-right: 1%;
}

.modalTextMusicDiv {
  border-radius: 3px;
  width: 52%;
  margin-left: 1%;
  height: 372px;
  border: 1px solid;
  padding-left: 1.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  overflow-x: hidden;
}

.modalTextMusicDiv p {
  color: rgb(44, 44, 44);
  font-size: large;
}
.modalUsernameMusicDiv {
  margin-left: 89.4%;
  margin-right: 4.1%;
  font-size: large;
}

.closeButtonWorldBarasModal {
  margin-left: 98.2%;
  margin-top: 0.1%;
  background-color: transparent;
  border: none;
  color: rgb(71, 71, 71);
  font-size: medium;
}

.closeButtonWorldBarasModal:hover {
  color: orange;
}
.closeButtonWorldBarasModal:focus {
  outline: none;
}
