.modalVideoBarasDiv {
  width: 100%;
  height: 100%;
  margin-left: 1%;
}

.modalRelatesToVideoDiv {
  margin-top: 0;
  height: 40px;
  margin-bottom: 9px;
}
.modalRelatesToVideoDiv h3 {
  margin: 0;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(32, 32, 32, 0.61);
}

.modalVideoVideoDiv {
  display: inline-block;
  width: 40%;
}

.modalVideoVideoDiv iframe {
  min-height: auto;
  min-width: auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 375px;
  border: none;
}

.modalTextVideoDiv {
  display: inline-block;
  word-break: break-all;

  padding-right: 1%;
}

.modalTextVideoDiv {
  border-radius: 3px;
  width: 52%;
  margin-left: 1%;
  height: 372px;
  border: 1px solid;
  padding-left: 1.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  overflow-x: hidden;
}

.modalTextVideoDiv p {
  color: rgb(44, 44, 44);
  font-size: large;
}
.modalUsernameVideoDiv {
  /* display: flex; */
  width: 8%;

  margin-left: auto;
  /* margin-left: 90%; */
  margin-right: 1.1%;
  font-size: large;
}

.closeButtonWorldBarasModal {
  margin-left: 98.1%;
  margin-top: 0.1%;
  background-color: transparent;
  border: none;
  color: rgb(71, 71, 71);
  font-size: medium;
}

.closeButtonWorldBarasModal:hover {
  color: orange;
}
.closeButtonWorldBarasModal:focus {
  outline: none;
}
