.menu {
  margin-top: 0;
  width: 15%;
  height: 70%;
  background-color: lightblue;
  position: absolute;
  top: -70%;
  left: 0%;
  transition: 0s;
  z-index: 1;
}

.closeButton {
  margin-left: 83%;
  color: white;
  position: absolute;
  top: 93%;
}
.closeButton:hover {
  color: rgb(136, 77, 18);
}
.menuButton {
  width: 15%;
  position: absolute;
  top: 30%;
  left: 0%;
  font-stretch: ultra-expanded;
  font-size: large;
}

.menuList {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.menuList > h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.menuList > h4:hover {
  color: rgb(160, 108, 11);
}
