.menu {
  margin-top: 0;
  width: 15%;
  height: 70%;
  background-color: rgba(255, 225, 168, 0.829);
  position: absolute;
  top: -300%;
  left: 0%;
  transition: 0s;
  z-index: 1;
  border-bottom-right-radius: 24px;
}

.closeButton {
  margin-left: 81%;
  color: rgba(112, 110, 110, 0.5);
  position: absolute;
  top: 89.5%;
  transform: rotate(-35deg);
}
.closeButton:hover {
  color: rgb(255, 255, 255);
}
.menuButton {
  width: 3%;
  position: absolute;
  top: 0%;
  left: 0%;
  font-stretch: ultra-expanded;
  font-size: large;
  border: solid 1px orange;
  background-color: rgb(75, 73, 70);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 17px;
  color: orange;
}

.menuButton:focus {
  outline: none;
}

.menuList {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.menuList > h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  color: rgb(0, 0, 0);
}

.menuList > h4:hover {
  color: rgb(231, 165, 41);
}
