.menu {
  margin-top: 0;
  width: 15%;
  height: 70%;
  background-color: lightblue;
  position: fixed;
  top: -70%;
  left: 0%;
  /* overflow-x: hidden; */
  transition: 2s;
  z-index: 1;
}

.closeButton {
  margin-left: 83%;
  color: white;
  position: absolute;
  top: 95%;
}
.closeButton:hover {
  color: rgb(136, 77, 18);
}
.menuButton {
  position: absolute;
  top: 0%;
  left: 0%;
  /* transition: 2s; */
}

.menuList {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.menuList > h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.menuList > h4:hover {
  color: rgb(160, 108, 11);
}
