.musicBarasDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 78% 5%;
  grid-template-areas:
    "relatesTo relatesTo"
    "music texts"
    "createdAt user";
  height: 100%;
}

/* .musicBarasDiv:hover {
  background-color: rgba(0, 0, 0, 0.856);
} */
.relatesToMusicDiv {
  grid-area: relatesTo;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid orange;
}

.musicMusicDiv {
  grid-area: music;
  width: 99%;
  /* height: 25.5%; */
  margin-top: 8.5%;
  padding-left: 1%;

  /* padding-left: 1%; */
  margin-bottom: auto;
  /* border: 1px solid orange; */
}

.musicMusicDiv iframe {
  width: 100%;
}

.textMusicDiv {
  grid-area: texts;
  padding-left: 4%;
  /* border: 1px solid orange; */
  height: 100%;
  padding-right: 2%;
}

.textMusicDiv p {
  height: 90%;
  overflow: hidden;
}
.usernameMusicDiv {
  grid-area: user;
  margin-left: auto;
  margin-right: 3%;
  font-size: medium;
}

.createdAtMusicDiv {
  grid-area: createdAt;
  font-size: small;
  margin-bottom: 0;
  margin-top: 3%;
  padding-left: 1%;
}

.usernameMusicDiv:hover {
  color: orange;
}
