.videoBarasDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 78% 5%;
  grid-template-areas:
    "relatesTo relatesTo"
    "video texts"
    "createdAt user";
  height: 100%;
}

/* .videoBarasDiv:hover {
  background-color: rgba(0, 0, 0, 0.856);
} */
.relatesToVideoDiv {
  grid-area: relatesTo;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid rgba(255, 166, 0, 0.664);
}

.videoVideoDiv {
  grid-area: video;
  width: 99%;
  /* height: 25.5%; */
  margin-top: 8.5%;
  padding-left: 1%;
  /* margin-top: 1%; */
  /* padding-left: 1%; */
  margin-bottom: auto;
  /* border: 1px solid orange; */
}

.videoVideoDiv iframe {
  width: 100%;
}

.textVideoDiv {
  grid-area: texts;
  padding-left: 4%;
  /* border: 1px solid orange; */
  height: 100%;
  padding-right: 2%;
}

.textVideoDiv p {
  height: 90%;
  word-break: break-all;
  overflow: hidden;
}
.usernameVideoDiv {
  grid-area: user;
  margin-left: auto;
  margin-right: 3%;
  font-size: medium;
}

.createdAtVideoDiv {
  grid-area: createdAt;
  font-size: small;
  margin-bottom: 0;
  margin-top: 3%;
  padding-left: 1%;
}

.usernameVideDiv:hover {
  color: orange;
}
