.photoBarasDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8% 44% 8%;
  grid-template-areas:
    "relatesTo relatesTo"
    "photo texts"
    "createdAt user";
  /* height: 40%; */
}

.relatesToPhotoDiv {
  grid-area: relatesTo;
  margin-left: 2%;
}

.photoPhotoDiv {
  grid-area: photo;
  width: 99%;
  height: 25.5%;
  border: 1px solid orange;
}

.photoPhotoDiv img {
  width: 100%;
}

.textPhotoDiv {
  grid-area: texts;
  padding-left: 5%;
  border: 1px solid orange;
  height: 40%;
}

.textPhotoDiv p {
  height: 90%;
  overflow: auto;
}
.usernamePhotoDiv {
  grid-area: user;
  margin-left: auto;
  margin-right: 3%;
}

.createdAtPhotoDiv {
  grid-area: createdAt;
}
