.headingDivWorldBaras {
  width: 11.5%;
  margin: auto;
  color: rgb(255, 189, 65);
}

.worldBarasMainDiv {
  display: flex;
  flex-wrap: wrap;
}

.eachWorldBarasMainDiv {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 30.2%;
  height: 339.09px;
  border: 1px solid rgb(255, 206, 115);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  border-radius: 5px;
}

.eachWorldBarasMainDiv {
  background-color: rgba(212, 212, 212, 0.685);
}
.eachWorldBarasMainDiv:nth-child(even) {
  background-color: rgba(255, 224, 167, 0.664);
}
